*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      } */
      .lato-regular {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}
/* Navbar start */
#navbar{
    background: #bb5252;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background-color: #ffa500;
    color: white;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */

/* Home section start */
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: #f9f9f9;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: #f9f9f9;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}

.changecontent::after{
    content: '';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content:"France"}
    10%{content:"Spain"}
    20%{content:"United States"}
    30%{content:"China"}
    40%{content:"India"}
    50%{content:"Russia"}
    60%{content:"Italy"}
    70%{content:"Singapore"}
    80%{content:"Mexico"}
    90%{content:"Germany"}
    100%{content:"United kingdom"}
    110%{content:"Canada"}
}

.home .content p{
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ffa500;
    color: #f9f9f9;
}
@media(max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media(max-width:850px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home section End*/

/* section Book Start */
.book{
    background-color: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    box-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background-color: #ffa500;
    color: #f9f9f9;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 200px;
}
@media(max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* section Book End */

/* Section packages start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;

}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgb(0,0,0,0.1)0px 4px 12px;
}
.packages .card image{
    height: fit-content;
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.chacked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: #f9f9f9;
    border-radius: 5px;
}
.card-body a {
    text-decoration: none;
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background-color: #ffa500;
    color: #f9f9f9;
    margin-top: 10px;
    transition: 0.5s;

}
/* Section packages End */



/* Section services start */

.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: 0px 5px 5px -6px black;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
}
.services .card .card-body{
    text-align: center;
}
/* Section services End */


/* Section gallery start */

/* Section gallery End */